# アクセス修飾子(public等)は4文字戻す
AccessModifierOffset: -4

# 開始括弧の後で水平方向に引数を整列させる
AlignAfterOpenBracket: Align

# 連続する行の代入演算子を揃えない
AlignConsecutiveAssignments: false

# 連続する行の宣言を揃えない
AlignConsecutiveDeclarations: false

# エスケープされた改行の位置は可能な限り左端に整列
AlignEscapedNewlinesLeft: true

# 水平方向に二項演算子と三項演算子を揃える
AlignOperands: true

# コメントを末尾に揃える
AlignTrailingComments: true

# if (a) return; は単一行にしない
AllowShortIfStatementsOnASingleLine: false

BasedOnStyle: Google

# {の前で常に改行
BreakBeforeBraces: Allman

# コンストラクタ初期化子のコンマの前で改行し、コロンでカンマを揃える
BreakConstructorInitializersBeforeComma: true

# 最大カラム数は指定しない
ColumnLimit: 0

Cpp11BracedListStyle: true

DerivePointerAlignment: false

IncludeBlocks: Regroup

#include のオーダーに使用されるカテゴリー
IncludeCategories:
  - Regex:     '^<.*\.h>'
    Priority:  2
  - Regex:     '^<.*'
    Priority:  3
  - Regex:     '.*'
    Priority:  1

IndentCaseLabels: false

# インデントは4文字
IndentWidth: 4

# namespace はインデントしない
NamespaceIndentation: None

# *, &は左側(型)につなげる
PointerAlignment: Left

# #includeをカテゴリ順→名前順にソートする
SortIncludes: true

# C++14に準拠
Standard: Cpp11

# タブは使わない (タブがあればスペースに変換する)
UseTab: Never
